.minesweeper {
  position: relative;
  top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  > h2 {
    width: 100%;
    height: 2rem;
    font-size: 2em;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .minesweeper > h2 {
    font-size: 1.8em;
  }
}
