.gameCard {
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  /* width: 180px; */
  height: 200px;
  min-width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  & > h4 {
    text-align: center;
    font-size: 20px;
  }
  & > img {
    height: 150px;
    width: 150px;
  }
}
