* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  height: 100vh;
  width: 100vw;
  background: rgb(41, 75, 41);
  background: linear-gradient(
    180deg,
    rgb(41, 75, 41) 20%,
    rgb(219, 231, 201) 80%
  );
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
