@import url('https://fonts.googleapis.com/css2?family=Funnel+Display&family=Kanit&display=swap');

.wordie {
  position: relative;
  top: 50px;
}

.wordie > * {
  font-family: 'Kanit', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
